footer{
    padding-block:.8rem;
    padding-inline:2rem;
    background-color: var(--neutral-dark-blue);
    display:flex;
    align-items: center;
    justify-content:space-between;
}


#footer-logo{
    background-color: white;
    padding-inline:.6rem;
    display: flex;
    place-items: center;
    border-radius: 20px;
}

.links{
    display: flex;
    gap:1rem;
    
}

.links a{
    color: white;
}

.links div:hover , .social-media div:hover{
    scale: 1.1;
}

.social-media{
    display: flex;   
    gap:1.4rem;
}